[2018-11-05 20:14] stellaballa opened #1 "Product is Engine Professional NOT Employee Professional"
@sagarpc This project is not called Employee Professional. Can you please change any reference that say employee professional? I can't show this to client until this has been updates.
This include URL for example: http://71.13.159.202/aerastage/EmployeeProfessional.aspx

![screen shot 2018-11-05 at 12 12 26 pm](https://user-images.githubusercontent.com/30122790/48023958-25770800-e0f4-11e8-9832-eca

[2018-11-05 20:22] stellaballa opened #2 "Registration Form"
Please see comments on this image. And use the footer image as reference for logo size.
![screen shot 2018-11-05 at 12 15 24 pm](https://user-images.githubusercontent.com/30122790/48024390-67ed1480-e0f5-11e8-9378-dfb2147f2d05.png)

![screen shot 2018-11-05 at 12 15 41 pm](https://user-images.githubusercontent.com/30122790/48024353-50159080-e0f5-11e8-9534-c0b60137ce4e.png)

[2018-11-05 20:38] stellaballa opened #3 "Printer Form should use the official one"
Here is a link to the official pdf, please replace it with the pdf version of form, because it makes no sense.

http://www.engineprofessional.com/downloads/EPSUBSCRIBE.pdf
![screen shot 2018-11-05 at 12 17 27 pm](https://user-images.githubusercontent.com/30122790/48025244-b6031780-e0f7-11e8-94ab-32191f1ca999.png)

[2018-11-05 20:42] stellaballa opened #4 "Remove the box on Prosis Pro"
![screen shot 2018-11-05 at 12 39 55 pm](https://user-images.githubusercontent.com/30122790/48025421-34f85000-e0f8-11e8-8c26-20d24f1082a2.png)

[2018-11-05 22:01] stellaballa opened #5 "Thank you screen"
Please make the confirmation screen on the same page and not a pop up screen, and don't redirect them to the Prosis Pro login page.

[Form-UpdateInfo.pdf](https://github.com/stellaballa/EP/files/2550783/Form-UpdateInfo.pdf)

[2018-11-05 22:07] stellaballa opened #6 "Search"
Once a new account has been added, how long does it take for the database to be searchable? I added myself and went to search by phone number but there's no results.

[2018-11-05 22:13] stellaballa opened #7 "Expired - Why all have 1 issue left?"
Why all expired have 1 issue left? If the account have expired last year, there shouldn't have any issue left. But all account expired in Dec. so It's either a data thing, or something is not right with expried account filter.

![screen shot 2018-11-05 at 2 09 54 pm](https://user-images.githubusercontent.com/30122790/48030043-bb1a9380-e104-11e8-84f8-107fd09d45bf.png)

[2018-11-05 22:16] stellaballa opened #8 "Change 1 issue left - Shouldn't sent out Thank you email"
After I changed my account to 1 issue left, this pop up said, Are you sure you want to send thank you email?
Why are we sending thank you email? Please remove. But we should have an option for "Would you like to send this user a subscription request?" Yes or No.

![screen shot 2018-11-05 at 2 14 41 pm](https://user-images.githubusercontent.com/30122790/48030204-30866400-e105-11e8-94f9-b006b1b15466

[2018-11-05 22:24] stellaballa opened #9 "Update Info, after save, the message for send thank you email show up"
Please don't send Thank you email to the user every time if AERA update the changes.
An email should be sent automatically once the user has been subscribe. Which is working right now.

![screen shot 2018-11-05 at 2 21 09 pm](https://user-images.githubusercontent.com/30122790/48030584-624bfa80-e106-11e8-91e8-daf13e1cc55c.png)

[2018-11-05 22:29] stellaballa opened #10 "Thank you email"
This is ugly can we fix it.
![screen shot 2018-11-05 at 2 28 44 pm](https://user-images.githubusercontent.com/30122790/48030841-2e250980-e107-11e8-894d-9a89491ad353.png)

[2018-11-06 03:55] SagarPC commented on #10
@stellaballa :

Kindly share email content for the below process. We already requested same inside basecamp many numbers of time.

- Thank you email to the user.
- Notify admin that new user requested for EP subscription.
- Notify admin that user has been successfully upgraded his subscription.
- Admin User has been successfully subscribed with change info.

[2018-11-06 12:35] SagarPC commented on #1
@stellaballa : updated URL name.

http://71.13.159.202/aerastage/EngineProfessional.aspx

[2018-11-06 12:36] SagarPC commented on #2
@stellaballa : updated logo size on page.

http://71.13.159.202/aerastage/EngineProfessional.aspx

![image](https://user-images.githubusercontent.com/31076567/48064707-9e5a8a80-e1ee-11e8-8c73-4203651a9673.png)

[2018-11-06 12:46] SagarPC commented on #5
@stellaballa : shown Thank you message on the same screen.

http://71.13.159.202/aerastage/EngineProfessional.aspx

[2018-11-06 12:57] SagarPC commented on #3
@stellaballa : Thanks for the official PDF. We used give pdf and now it's downloading official PDF only.

[2018-11-06 12:58] SagarPC commented on #4
Removed.

[2018-11-06 13:02] SagarPC commented on #7
@stellaballa : As we discussed and as per your given comment in the meeting, we consider user as expired only once the quarter is completed. All those user dates are expired but the quarter is working.

Please let us know if there is any change in this logic. I think the client also want the same logic.

[2018-11-06 13:11] SagarPC commented on #8
@stellaballa: removed e-thank you confirmation and showing "subscription request" on the selection of 1 issue left.

Please consider "subscription request" prompt showing only once the user selects this checkbox manually.

[2018-11-06 13:17] SagarPC commented on #9
removed confirmation box from the AERAMMS as sending subscription email at the time of registration.

[2018-11-06 14:33] SagarPC commented on #6
It should work now. We did some change in logic to search phone number.

[2018-11-07 00:22] #1 closed, assigned to nobody

[2018-11-07 00:22] #2 closed, assigned to nobody

[2018-11-07 00:26] stellaballa commented on #10
The email is looking better, but why there are so many different font sizes?
Dear Stella is bigger then the body copy.
Thanks is bold.

Can you replace Thanks with this:
Sincerely,
Amanda
Circulation & Communication Specialist

Use this at the bottom
AN AERA INTERNATIONAL QUARTERLY PUBLICATION
875 Feinberg Court, Suite 106, Cary, IL 60013 USA
toll-free 888.326.2372 or 815.526.7600
Fax 888.329.2372

[2018-11-07 00:27] #3 closed, assigned to nobody

[2018-11-07 00:27] #4 closed, assigned to nobody

[2018-11-07 00:28] #5 closed, assigned to nobody

[2018-11-07 00:28] #6 closed, assigned to nobody

[2018-11-07 00:32] stellaballa commented on #7
@SagarPC ok there's miss communication on this. There should be 3 catagories
1) 1 Issue Left (Next Qt) - Which means this user has 2 issue left.
2) Expiring (1 issue left this Qt)
3) Expired (No issue left) but we need to keep their original expiration date.

[2018-11-07 00:35] #8 closed, assigned to nobody

[2018-11-07 07:40] SagarPC commented on #7
@stellaballa :

I know about this 3 things but here an issue with which user we need to consider under which case.

Please give us the answer (where I added ?? mark) on below cases to be more clear.

Consider  **Current Working Quarter:**  1st SEP 2018 to 31 DEC 2018 & **Today's Date is** 11th NOV 2018.

**If User A Exp. Date: 4th SEP 2018 then**
    1. Issue Left (Next Qt) - Which means this user

[2018-11-07 19:32] stellaballa commented on #7
@SagarPC just discussed this with the client. And this is what we will do:

1) Expired
No Issue left with an expiration date. For example, if today's date is 11th Nov 2018 and this person's account expired 11th Nov 2017 with no issue left.

2) Subscription Expiring
Anyone who has 1 issue left this quarter.

3) 1 Issue Left
Anyone who has 1 issue left next quarter.

[2018-11-08 22:25] amandagoyette opened #11 "Change Tab Name to EP"
![image](https://user-images.githubusercontent.com/26386841/48231064-a5aaa100-e372-11e8-8206-6317d7d53281.png)
Can we update the name from Engine Pro to EP?

[2018-11-08 22:37] amandagoyette opened #12 "Subscription Email Logo & Text"
![image](https://user-images.githubusercontent.com/26386841/48231418-a3951200-e373-11e8-97fc-24b1ad3753a7.png)

I'm not sure what the image is supposed to be, I think the Engine Professional logo, but it's broken.

Can we update to read:
This email is to notify you that your subscription request for Engine Professional has been accepted.

Thank you,

Amanda Harmening
Circulation Specialist
AERA En

[2018-11-08 22:42] amandagoyette opened #13 "Update Header"
![image](https://user-images.githubusercontent.com/26386841/48231821-1d79cb00-e375-11e8-92ed-1eea7d22c216.png)

Please update the word Member in the circled section to read subscriber

[2018-11-08 22:46] amandagoyette opened #14 "Fix text"
I know I mentioned this in the meeting, but thought I'd get it in the queue:
![image](https://user-images.githubusercontent.com/26386841/48231983-c45e6700-e375-11e8-8d95-bb6d480a4c58.png)
We need to fix the word Professional

[2018-11-08 22:51] amandagoyette opened #15 "Subscription Form"
Please make it so the phone number isn't required. Thanks!
![image](https://user-images.githubusercontent.com/26386841/48232226-81e95a00-e376-11e8-9aa2-7af9c0be1276.png)

[2018-11-08 22:55] amandagoyette opened #16 "Update Subscription Email"
We need to fix the spelling and text on this email including the subject line.
![image](https://user-images.githubusercontent.com/26386841/48232309-ca087c80-e376-11e8-872c-7f86f6460d76.png)

Subject: Engine Professional Subscription
Body: Thank you for updating your subscription to Engine Professional Magazine.

Sincerely,

Amanda Harmening
Circulation Specialist
AERA Engine Builders Association

[2018-11-09 20:15] amandagoyette opened #17 "Add ability to search by city"

[2018-11-09 20:57] amandagoyette opened #18 "Update List dropdown"
Please add the following to the List Drop down:
Show/Conf
ExpMbr
Advertising
Rock Products
Assoc/Group

[2018-11-09 21:00] amandagoyette opened #19 "Update Type Drop Down"
Please change ASOC to Assoc

Also add (these are in no particular order maybe we can alphabetize both lists):
Online
Phone
Fax
Email
AC
Author
B
VT
Gov
Perf Shop
Rep

[2018-11-09 21:04] amandagoyette opened #20 "Expiration Date"
![image](https://user-images.githubusercontent.com/26386841/48288107-a3a71780-e430-11e8-8236-1ffd95281b5d.png)
When I update the Requested Date it should update the Expiration Date accordingly.

[2018-11-09 21:13] amandagoyette opened #21 "Change Title of Report"
![image](https://user-images.githubusercontent.com/26386841/48288497-ee755f00-e431-11e8-89e1-299c8b305f5d.png)
Please change the name of the highlighted report to 1 Issue Left

[2018-11-09 21:14] amandagoyette opened #22 "Email Blast Report"
Can we add the Company field to this list?

[2018-11-09 21:17] amandagoyette opened #23 "Contact Report"
1. Can we call this Subscription Reports instead?
2. Can we remove website from the file and add in fax #?
3. The state needs to be the abbreviation vs. full name for those in the US or it will not work for mailing (Example: Minnesota should be MN)

[2018-11-09 21:27] amandagoyette opened #24 "Export Report"
I need an option to export my full current list (This includes subscribers and those who haven't requested, but doesn't include expired), and an option to pull the full list including expired.

It would be nice to be able to select which fields I want (Company, Contact, Alt Address, Delivery Address, City, State, Zip, and Country will always be included). If that's not an option always include pho

[2018-11-09 21:29] amandagoyette opened #25 "Quarterly Mailing Report"
Remove Website, Phone & Email from this report. State needs to be abbreviated for US here too.

[2018-11-09 21:40] amandagoyette opened #26 "Fix Headers"
![image](https://user-images.githubusercontent.com/26386841/48289519-6c873500-e435-11e8-8341-faa820e64221.png)
I know we discussed this too, but putting it here:
Green should say Expiration Date
Blue "This Qtr" should be Expiring
Blue "Next Qtr" should be 1 Issue Left

[2018-11-09 21:49] amandagoyette opened #27 "Fix boxes for Selection"
![image](https://user-images.githubusercontent.com/26386841/48289687-f6370280-e435-11e8-8eb5-ab6dd8ef84af.png)
I have been thinking about these boxes.  Here's my thought:

The 1 issue left box we need to remove (Expiring) from the end. This pulls anyone with the 1 issue left column checked, which is correct.

Expiring should be its own option and include those marked in the Expiring column. I thin

[2018-11-12 22:30] anthonypartsconnect commented on #7
@SagarPC
Please let us know if anything else is needed on your end.

Thanks.

Anthony

[2018-11-12 22:32] anthonypartsconnect commented on #9
@SagarPC, were you able to disable communication to the user for every change?

We only want the emails going to users when they subscribe.

[2018-11-12 22:36] anthonypartsconnect commented on #11
@Sagar, Please make this change for Amanda. Change the tab from "Engine Professional" to "EP"

Thank you!

[2018-11-12 22:38] anthonypartsconnect commented on #12
@SagarPC

Please see broken image screenshot.
Please see Amanda's comment above.  The updated copy should read:

"This email is to notify you that your subscription request for Engine Professional has been accepted."

Please let me know if you have any questions.

[2018-11-12 22:41] anthonypartsconnect commented on #10
@SagarPC

Please make these changes and let us know if you have any questions.  Thank you.

[2018-11-12 22:43] stellaballa commented on #12
@anthonypartsconnect testing this.

[2018-11-12 22:56] anthonypartsconnect commented on #13
@SagarPC
Please see the image from Amanda and correct word "member" with "subscriber" in the email renewal.

[2018-11-12 23:10] anthonypartsconnect commented on #14
@Sagar,

Please update the work "Profression" to "Professional"

![image](https://user-images.githubusercontent.com/39140696/48380515-e36a3b00-e68c-11e8-80cf-5ead51572cd9.png)

[2018-11-12 23:15] anthonypartsconnect commented on #15
For Subscription form please remove the requirement for phone number.  This does not have to be a required field.

[2018-11-12 23:24] anthonypartsconnect commented on #16
@SagarPC
Please see the changes that Amanda added. Let me know if you have any questions. If not, please correct.

Thank you!!

[2018-11-12 23:28] anthonypartsconnect commented on #17
@ Sagar,

Hello.

Amanda requested that we add ability to search by city.  Please let us know if we can change this and if we need to add a city column to this section.

![image](https://user-images.githubusercontent.com/39140696/48381246-eb77aa00-e68f-11e8-901e-a2ab80bf6505.png)

Thanks.

[2018-11-12 23:43] anthonypartsconnect commented on #18
Hi Amanda,

Can you please clarify what you need here.

Are you asking to add a dropdown?  Would these items be under the "view" button for each record?

[2018-11-13 00:39] anthonypartsconnect commented on #20
@aharmening
Hi Amanda, can you clarify the error you are seeing here.  Is the start date not reflecting the accurate exp date?  I see your note about adding per online req 4/30/18.

Please elaborate on this issue so we can fix.

Thanks.

[2018-11-13 00:42] amandagoyette commented on #14
I just noticed subscribed is misspelled also.

Amanda Harmening
AERA Engine Builders Association

________________________________
From: anthonypartsconnect <notifications@github.com>
Sent: Monday, November 12, 2018 5:10:02 PM
To: stellaballa/EP
Cc: Amanda Harmening; Author
Subject: Re: [stellaballa/EP] Fix text (#14)

@sagar<https://github.com/sagar>,

Please update the work "Profression" to "Pro

[2018-11-13 00:52] amandagoyette commented on #18
No, not add a drop down just add to it. This ticket is for List and there's another for the box next to it which is Type.  Does that help?
![image](https://user-images.githubusercontent.com/26386841/48383567-eaed0c80-e6ab-11e8-8235-c15ca69755df.png)

[2018-11-13 00:53] amandagoyette opened #28 "Update header on Edit Screen"
Please update the word "Updation" to just be Update
![image](https://user-images.githubusercontent.com/26386841/48383662-48815900-e6ac-11e8-9782-17ce895245f5.png)

[2018-11-13 00:56] anthonypartsconnect commented on #22
@SagarPC
For Amanda's request, can you please make the change to email blast report, by adding "Company" or "Company Name" to the fields?

[2018-11-13 01:06] amandagoyette commented on #20
In the image there's an incorrect expiration date. I updated their request date from 4/30/18 to 11/9/18. The new expiration date should have been 11/9/2021, but it didn't change. When the request date changes the expiration date should update too.
Does that help @anthonypartsconnect

[2018-11-13 01:06] anthonypartsconnect commented on #18
Thank you for the clarification Amanda. I will push this to Sagar for updates.

[2018-11-13 01:09] anthonypartsconnect commented on #18
@SagarPC
Hi Sagar,

Please see Amanda's screenshot and request to add to the list dropdown in the edit section of a user. The entries we would like added are:
Show/Conf
ExpMbr
Advertising
Rock Products
Assoc/Group

Please let me know if you have any questions.

Thank you.

[2018-11-13 01:18] stellaballa commented on #26
@SagarPC please use this title for the columns and make sure you follow the logics in this ticket
https://github.com/stellaballa/EP/issues/7

[2018-11-13 01:21] anthonypartsconnect commented on #20
Thank you Amanda. Knowing your action, now the exp date issue makes sense.  We will get this fixed.

@SagarPC
Sagar, please update so that when a new request date is entered, the appropriate expiration date follows.

Thanks.

[2018-11-13 01:25] anthonypartsconnect commented on #21
@Sagar,

Can you make this change Sagar, thanks.

[2018-11-13 01:30] anthonypartsconnect commented on #23
Hi Sagar,

Please make these changes for Amanda.  #2 and #3 are changes within the report.

Let me know if these make sense.

Thank you.

[2018-11-13 01:38] anthonypartsconnect commented on #19
@SagarPC
Under the edit section for a subscriber, can we update the type dropdown by adding Amanda's list and changing "ASOC" to "Assoc".  Can we also please alphabetize the entire dropdown list too?
![image](https://user-images.githubusercontent.com/39140696/48385031-c1c77e80-e6a1-11e8-8828-3c9c2649f431.png)

Thank you.

[2018-11-13 01:47] stellaballa commented on #25
@SagarPC  This is for the Excel report.

[2018-11-13 01:50] stellaballa commented on #24
@SagarPC This request should go under the "Contact Report" Section. Change the title to "Subscriber Report".

[2018-11-13 01:52] stellaballa commented on #27
@SagarPC once we updated #7 this should make sense.
3 check boxes that matches #26

[2018-11-13 05:11] SagarPC commented on #9
@anthonypartsconnect : We already have taken action on this and it's uploaded on stage. Please check and confirm our update.

[2018-11-14 05:34] SagarPC commented on #15
@aharmening : We will remove phone number required from this form and kept only First Name and Last Name as required.

[2018-11-14 05:36] stellaballa commented on #15
@SagarPC @aharmening I think email is required. Only phone# is NOT required, everything else should be required.

[2018-11-14 05:40] SagarPC commented on #15
@stellaballa: Okay, so will implement and make all field as required except phone#.

[2018-11-14 05:41] stellaballa commented on #15
@SagarPC thanks!

[2018-11-14 13:20] SagarPC commented on #7
@anthonypartsconnect : We uploaded logic as requested and uploaded on stage. Please check and confirm our update.

Expired
![image](https://user-images.githubusercontent.com/31076567/48484998-ad1fed80-e83d-11e8-96d4-fc698b86c0cd.png)

Subscription Expiring
![image](https://user-images.githubusercontent.com/31076567/48485063-dccef580-e83d-11e8-8b53-e60cd86f35a7.png)

1 Issue Left
![image](https://u

[2018-11-14 13:26] SagarPC commented on #10
Updated email format and content as suggested. Please refer below image.

![image](https://user-images.githubusercontent.com/31076567/48485458-e9a01900-e83e-11e8-8fe3-d83eee03430e.png)

[2018-11-14 13:28] SagarPC commented on #11
@anthonypartsconnect : We changed the tab name as suggested.

![image](https://user-images.githubusercontent.com/31076567/48485542-29ff9700-e83f-11e8-88bb-47ace9d5c073.png)

[2018-11-14 13:46] SagarPC commented on #13
updated text as suggested. please refer below image.

![image](https://user-images.githubusercontent.com/31076567/48486514-c165e980-e841-11e8-96c0-abdfa4470447.png)

[2018-11-14 13:57] SagarPC commented on #14
corrected typo.

![image](https://user-images.githubusercontent.com/31076567/48486838-9334d980-e842-11e8-9ca1-e8176bf313b1.png)

[2018-11-14 14:09] SagarPC commented on #15
now all are except phone number.

http://71.13.159.202/aerastage/EngineProfessional.aspx

[2018-11-14 14:21] SagarPC commented on #12
updated email content.

![image](https://user-images.githubusercontent.com/31076567/48488365-9af67d00-e846-11e8-86d1-9fce390d0ac8.png)

[2018-11-14 18:25] amandagoyette commented on #11
Looks good thanks Sagar!

[2018-11-14 18:25] #11 closed, assigned to anthonypartsconnect

[2018-11-14 18:32] amandagoyette commented on #12
I've tested the image and it's working now.

@SagarPC can we make the text at the bottom a little larger looks like right now it's an 8.5pt maybe up it to 10pt

Also, if they reply to the email it should go to me: amanda@aera.org instead of Karen.

[2018-11-14 18:34] amandagoyette commented on #13
Looks good thanks!

[2018-11-14 18:34] #13 closed, assigned to anthonypartsconnect

[2018-11-14 18:37] amandagoyette commented on #14
Looks good. Thanks!

[2018-11-14 18:37] #14 closed, assigned to anthonypartsconnect

[2018-11-14 18:41] amandagoyette commented on #15
@SagarPC @stellaballa Company Name and Email should **not** be required either.

[2018-11-14 18:44] amandagoyette commented on #16
Also, the replies to this email should go to me: amanda@aera.org, not info@aera.org

[2018-11-15 02:03] stellaballa commented on #7
@aharmening can you please check and see if this logic is working correctly?

[2018-11-15 02:05] stellaballa commented on #10
@anthonypartsconnect please check

[2018-11-15 02:05] stellaballa commented on #9
@anthonypartsconnect please check

[2018-11-15 02:07] stellaballa commented on #15
@SagarPC please update

[2018-11-15 02:07] stellaballa commented on #16
@SagarPC please update

[2018-11-15 02:08] stellaballa commented on #17
@SagarPC

[2018-11-15 02:10] stellaballa commented on #21
@SagarPC

[2018-11-15 02:10] stellaballa commented on #27
@aharmening  I think this has been updated.

[2018-11-15 02:54] amandagoyette commented on #7
@stellaballa Yes, the right dates are under 1 issue left, expiring, and lapsed.

Is there a reason the dates all default to the end of the month for the expiration? Would it be easy to keep it at the 3 years from the date of subscription? For example, if someone subscribed on 11/2/15 they should have expired on 11/2/18.

[2018-11-15 02:57] amandagoyette commented on #27
looks good

[2018-11-15 02:57] #27 closed, assigned to amandagoyette, anthonypartsconnect

[2018-11-15 03:01] amandagoyette opened #29 "Assign 1 Issue"
![image](https://user-images.githubusercontent.com/26386841/48527210-04c75480-e850-11e8-8246-dc2df7a0b7f7.png)
When using this function it should add them to the 1 issue left category, not the expiring category.

![image](https://user-images.githubusercontent.com/26386841/48527305-54a61b80-e850-11e8-8e4f-8b7df33820b0.png)

[2018-11-15 04:24] stellaballa commented on #7
@SagarPC please make sure the expiration dates are 3 years from the subscription date.

[2018-11-15 07:18] SagarPC commented on #15
@aharmening: We are doing all the system process like notification based on the email address so I think we need to keep email as required, else system not able to send any of the emails (thank you, renewal, 1 issue left, update confitmation etc).

[2018-11-15 09:47] SagarPC commented on #7
@stellaballa  @aharmening

At the time of new user subscription or edit start date we are doing same as you suggested but when AERA MMS user taking action to set "1 issue left" forcefully at that time we don't have any specific date to set and because of that, we are considering the last date of next quarter. Please suggest if any change in this process.

![image](https://user-images.githubusercon

[2018-11-15 09:53] SagarPC commented on #12
made larger text at the bottom and set reply-to amanda@aera.org.

![image](https://user-images.githubusercontent.com/31076567/48544765-59b7a900-e8ea-11e8-8b3c-50dc18492de3.png)

[2018-11-15 10:04] SagarPC commented on #16
update content and set the reply to amanda@aera.org

![image](https://user-images.githubusercontent.com/31076567/48545363-bebfce80-e8eb-11e8-8350-9bd183e3c2bd.png)

[2018-11-15 10:06] SagarPC commented on #17
We added search by City option inside EP tab search. Please refer below image.

![image](https://user-images.githubusercontent.com/31076567/48545529-1c541b00-e8ec-11e8-878a-ae8cd7d0205f.png)

[2018-11-15 10:09] SagarPC commented on #18
updated List dropdown

![image](https://user-images.githubusercontent.com/31076567/48545699-8c62a100-e8ec-11e8-8537-41a5680895e4.png)

[2018-11-15 10:38] SagarPC commented on #19
updated type dropdown
![image](https://user-images.githubusercontent.com/31076567/48547459-adc58c00-e8f0-11e8-8623-392b91718610.png)

[2018-11-15 10:45] SagarPC commented on #20
Now on Expiration Date updated accordingly based on Requested Date. Please refer below image.

![image](https://user-images.githubusercontent.com/31076567/48547819-815e3f80-e8f1-11e8-94f9-957a784ff57e.png)

[2018-11-15 10:49] SagarPC commented on #21
We changed the text as per the EP tab screen to keep consistency. Please let me know if any change.

![image](https://user-images.githubusercontent.com/31076567/48548060-0ba6a380-e8f2-11e8-8465-7242b63ac464.png)

[2018-11-15 10:51] SagarPC commented on #22
We added "Company Name" field to the Email Blast Report.

[2018-11-15 10:57] SagarPC commented on #23
We are done with all 3 changes and uploaded on stage. Please confirm our update.

[2018-11-15 11:14] SagarPC commented on #26
Updated title as suggested.

![image](https://user-images.githubusercontent.com/31076567/48549391-ad7bbf80-e8f5-11e8-8821-a50d6e31b280.png)

[2018-11-15 11:16] SagarPC commented on #28
Updated the word "Updation" to just be Update

![image](https://user-images.githubusercontent.com/31076567/48549470-e0be4e80-e8f5-11e8-8e14-91defa6a456b.png)

[2018-11-15 11:17] SagarPC commented on #29
updated the logic and now 1 issue left updating proper column.

[2018-11-15 11:27] SagarPC commented on #25
removed column as suggested and display abbreviated code for US.

![image](https://user-images.githubusercontent.com/31076567/48549967-6098e880-e8f7-11e8-8139-fd5ce9800d6e.png)

[2018-11-15 18:16] amandagoyette commented on #15
@SagarPC much like with our members, not all of our subscribers have email addresses or want to share them. The last thing we want is that to deter a new subscriber from submitting the form. only about 1/4 of my list actually have provided an email address. We have other ways we communicate with them including mailings and faxes.
I know in the Membership portion we have it set up so Karen gets a l

[2018-11-15 18:21] stellaballa commented on #15
@aharmening Yes it make sense. @SagarPC please make email NOT Required.

[2018-11-15 18:22] amandagoyette commented on #7
@SagarPC When it is forced the last date of the next quarter is perfect.

[2018-11-15 18:37] aharmening commented on #12
![image](https://user-images.githubusercontent.com/26386841/48573756-d8a0e780-e8d2-11e8-92c8-33ede5099599.png)

Reply to is good and so it text size. For some reason my Subject has Professional mis-spelled even though Sagar's doesn't. We need to fix that.

Also, Sagar's shows the correct Title for me, but mine is still showing the old one. We need to make sure it reads: Circulation Specialist

[2018-11-15 18:40] amandagoyette commented on #16
![image](https://user-images.githubusercontent.com/26386841/48573987-962bda80-e8d3-11e8-99ad-7788af0164ce.png)
Reply to is correct. We just need to fix the spelling of Professional and update my title to Circulation Specialist

[2018-11-15 18:45] amandagoyette commented on #12
Only update here is change EP to Engine Professional:
![image](https://user-images.githubusercontent.com/26386841/48574156-0c304180-e8d4-11e8-9fb2-d5dd5000f7f1.png)

[2018-11-15 18:51] amandagoyette commented on #17
Thank you I've tested it and it is working.

[2018-11-15 18:51] #17 closed, assigned to amandagoyette, anthonypartsconnect

[2018-11-15 18:54] amandagoyette commented on #18
Looks good. thanks!

[2018-11-15 18:54] #18 closed, assigned to amandagoyette, anthonypartsconnect

[2018-11-15 18:56] amandagoyette commented on #19
Looks good. THanks!

[2018-11-15 18:56] #19 closed, assigned to amandagoyette, anthonypartsconnect

[2018-11-15 18:58] amandagoyette commented on #20
Thanks. Tested and it's working

[2018-11-15 18:58] #20 closed, assigned to amandagoyette, anthonypartsconnect

[2018-11-15 19:00] amandagoyette commented on #21
This is good to go

[2018-11-15 19:00] #21 closed, assigned to amandagoyette, anthonypartsconnect

[2018-11-15 19:03] amandagoyette commented on #22
Company is added, thanks.
 Is it possible to split the first and last name into separate columns for this report only? That way it matches the format of Constant Contact.

[2018-11-15 19:08] amandagoyette commented on #23
State is still showing up as the full name instead of abbreviation on these reports:
![image](https://user-images.githubusercontent.com/26386841/48575343-52d36b00-e8d7-11e8-9a8b-a0e510cb470a.png)

[2018-11-15 19:08] amandagoyette commented on #26
Good to go THanks!

[2018-11-15 19:08] #26 closed, assigned to amandagoyette, anthonypartsconnect

[2018-11-15 19:09] amandagoyette commented on #28
Good to go thanks

[2018-11-15 19:09] #28 closed, assigned to amandagoyette, anthonypartsconnect

[2018-11-15 19:10] amandagoyette commented on #29
Tested and it's working

[2018-11-15 19:10] #29 closed, assigned to amandagoyette, anthonypartsconnect

[2018-11-15 19:12] amandagoyette commented on #25
![image](https://user-images.githubusercontent.com/26386841/48575634-148a7b80-e8d8-11e8-8649-ff2614e6bc1e.png)
State not abbreviated

[2018-11-15 19:14] amandagoyette opened #30 "1 issue left email"
Can we update my title to just Circulation Specialist and add my last name so it says Amanda Harmening

![image](https://user-images.githubusercontent.com/26386841/48575753-6501d900-e8d8-11e8-9bd3-0bf0a279abe2.png)

[2018-11-15 19:23] amandagoyette opened #31 "Email set-up like in Prospect Tab"
In one of our meetings we discussed having the email set up so it opens an email, like in the Prospects tab. Can we make that change?

[2018-11-15 19:40] amandagoyette opened #32 "Ability to sort by different columns"
Is it possible to have the option to sort by columns like we do in membership. The ones with an X above them are the columns we'd use that for.
![image](https://user-images.githubusercontent.com/26386841/48577149-0c343f80-e8dc-11e8-8bd3-19ff17b0f7b9.png)

[2018-11-15 21:06] amandagoyette opened #33 "Email confirmation to me"
I know we talked about this before. I'm just making sure it doesn't get forgotten.

I should receive some sort of a confirmation when someone requests a subscription or renews their subscription. I'm required to have the paper trail for our end goal of mailing periodical.  Below is what I currently receive:

![image](https://user-images.githubusercontent.com/26386841/48581544-c1202980-e8e7-11e8-8e

[2018-11-15 21:26] #9 closed, assigned to anthonypartsconnect

[2018-11-15 21:27] #10 closed, assigned to anthonypartsconnect

[2018-11-15 21:34] stellaballa commented on #31
@aharmening sorry I don't recall discussion on the email form. Would you like us to add the function just like the Prospects tab, when you click on the user email it open a email form? Is there any content you would like to populate inside the form?
![screen shot 2018-11-15 at 1 33 01 pm](https://user-images.githubusercontent.com/30122790/48583087-21f53500-e8db-11e8-9fd1-a7821dce18bb.png)

[2018-11-15 21:36] stellaballa commented on #32
@aharmening @SagarPC it might be hard to add a spreadsheet style sorting function. What if we add dropdown on top to help you filter out the content? Can you let us know for each column, how would you like the information to be sorted?

[2018-11-15 21:37] stellaballa commented on #33
@aharmening Yes
@SagarPC please make sure an email notification is sent to Amanda once someone submit a subscription form. If you could also add a link directly to the user detail window that would be great.

[2018-11-15 21:40] amandagoyette commented on #31
@stellaballa I'm going to let @kbt1 answer on this one as it's a function she's requested so she can email them trying to get them to become members.

[2018-11-15 21:41] stellaballa commented on #31
I see, @kbt1 please let us know.

[2018-11-15 21:45] kbt1 commented on #31
That would be perfect where i can enter something in the subject line and in the body and add attachments.

[2018-11-15 21:46] stellaballa commented on #31
@SagarPC please add this function for the email.

[2018-11-15 21:52] amandagoyette commented on #32
Filter could work. when I'm looking at a group I could see myself looking at who has a requested date and who doesn't, who has an email address or doesn't, who has a phone number or doesn't.

The company, contact, state and country would be more if I'm searching a name, city, company, etc. and need to find someone from there.
       Example: If I search for Springfield it will pull up results in C

[2018-11-15 22:00] stellaballa commented on #32
Thanks @aharmening let me think about this and propose a solution.

[2018-11-15 23:49] stellaballa commented on #32
@aharmening I added 2 filters and change the account type to a filter.
You can use the account type filter to sort the list or use the text search for a name. And the other 2 filter will sort the content.

![ep-filters](https://user-images.githubusercontent.com/30122790/48588920-eca61280-e8ed-11e8-880b-c72ea4e3b2d6.png)

[2018-11-16 04:09] SagarPC commented on #7
@aharmening It's working on stage as you suggested. Please confirm our update.

[2018-11-16 13:29] SagarPC commented on #12
changed EP to Engine Professional
![image](https://user-images.githubusercontent.com/31076567/48624140-b93cb400-e9d1-11e8-8755-be82c8161b55.png)

[2018-11-16 13:31] SagarPC commented on #15
Now Company Name, Phone & Email are optional.

[2018-11-16 13:42] SagarPC commented on #16
corrected typo and updated title to Circulation Specialist.

![image](https://user-images.githubusercontent.com/31076567/48624825-7976cc00-e9d3-11e8-81d9-f2571095c6bf.png)

[2018-11-16 13:47] SagarPC commented on #22
now the first and last name into separate columns for the Email Blast Report only as suggested.

[2018-11-16 13:51] SagarPC commented on #23
@aharmening  We added a new column like State abbreviation and keep state full name as well, hope this will help you.

![image](https://user-images.githubusercontent.com/31076567/48625179-7fb97800-e9d4-11e8-87cb-ba691c301d65.png)

[2018-11-16 13:54] SagarPC commented on #24
We provided an option to select a column for the export report, where Company, Contact, Alt Address, Delivery Address, City, State, Zip, and Country default selected during export.

![image](https://user-images.githubusercontent.com/31076567/48625356-f9e9fc80-e9d4-11e8-8c43-42512d3276a5.png)

[2018-11-16 14:03] SagarPC commented on #25
@aharmening We added a new column like State abbreviation and keep state full name as well, hope this will help you.

Also, there are numbers of the state where we don't have state code in the database and because of that, we are not able to show abbreviation code for those states. Please below file such list.

[Invalid States.xlsx](https://github.com/stellaballa/EP/files/2589503/Invalid.States.xl

[2018-11-16 14:04] SagarPC commented on #30
updated information as suggested.

![image](https://user-images.githubusercontent.com/31076567/48625953-9fea3680-e9d6-11e8-87d3-735bf5daae28.png)

[2018-11-16 14:07] SagarPC commented on #31
added new function to send email for the EP tab

![image](https://user-images.githubusercontent.com/31076567/48626084-f3f51b00-e9d6-11e8-98ad-ed420aca6d5f.png)

[2018-11-16 14:16] SagarPC commented on #33
@aharmening: You will get email like below with the Status field. That will help you to identify user action. It's updated on stage so now onward you will get email from the stage. Once you done with the testing on stage please let me know, I will stop stage website admin email to you. Otherwise it will create confustion to you with stage and live email notification.

![image](https://user-images.

[2018-11-16 15:18] amandagoyette commented on #24
The export options are working thanks.

This report should also include, or have the option to include, those with a lapsed subscription.

You can also get rid of Column F and just call Column G State. I don't need both.
![image](https://user-images.githubusercontent.com/26386841/48629936-88805e80-e980-11e8-883e-d12baf6bf7a5.png)

[2018-11-16 15:26] amandagoyette commented on #25
Some I don't have abbreviations for and we can list the full state. From what I saw in the report I pulled for Issue #24 it appears the full state is listed where an abbreviation is unavailable as seen below:
![image](https://user-images.githubusercontent.com/26386841/48630162-312ebe00-e981-11e8-8f62-86388e13c32e.png)
As long as this logic is applied to all the reports we can get rid of the column

[2018-11-16 15:40] amandagoyette commented on #7
Looks good!

[2018-11-16 15:40] #7 closed, assigned to amandagoyette, anthonypartsconnect

[2018-11-16 15:42] sagar commented on #15
You guys are tagging the wrong Sagar.

On Fri, Nov 16, 2018 at 7:01 PM SagarPC <notifications@github.com> wrote:

--
Sagar

[2018-11-16 15:45] amandagoyette commented on #15
Sorry! I didn't realize there were two. I see the other one now.

[2018-11-16 15:49] sagar commented on #15
No worrries!

Sagar

On Fri, Nov 16, 2018 at 9:15 PM aharmening <notifications@github.com> wrote:

--
Sagar

[2018-11-16 15:52] amandagoyette commented on #15
This is good to go

[2018-11-16 15:52] #15 closed, assigned to amandagoyette, anthonypartsconnect

[2018-11-16 15:54] amandagoyette commented on #22
Perfect Thanks!

[2018-11-16 15:54] #22 closed, assigned to amandagoyette

[2018-11-16 15:57] amandagoyette commented on #23
Sagar, we can remove the column with the full state name like we are on other reports.

[2018-11-16 16:02] amandagoyette commented on #31
File and subject came through but the message did not:
![image](https://user-images.githubusercontent.com/26386841/48632494-a781ef00-e986-11e8-9129-58832c499bdd.png)

[2018-11-16 16:07] amandagoyette commented on #33
Can we change the text to say:

This email is to notify you that Jagish Sagar has requested a subscription to Engine Professional Magazine.

Also, we can get rid of the footer since it's just an internal note it doesn't need the info on how to contact us and that it's an intl publication

[2018-11-16 16:09] amandagoyette commented on #33
The version for "YES" should say:
This email is to notify you that **Amanda h** has renewed their subscription to Engine Professional Magazine.
![image](https://user-images.githubusercontent.com/26386841/48632858-a0a7ac00-e987-11e8-8534-f55b6be6b557.png)

[2018-11-16 16:16] kbt1 commented on #31
When I tested the email link, the body of the email didnt come through like Amandas comment above and If I am the one sending the email, it should come up From/Reply to Karen@aera.org and it comes up Amanda@aera.org.
This email link should work just like the Prospect Tab email link

[2018-11-16 16:18] kbt1 commented on #12
that looks good.

[2018-11-16 16:41] kbt1 commented on #16
looks good.

[2018-11-16 16:53] amandagoyette opened #34 "Yes vs. No vs. neither on subscription form"
On the form when they go to renew some people forget to select a box:
![image](https://user-images.githubusercontent.com/26386841/48633380-d0a37f00-e988-11e8-8d53-aa6e91af8912.png)
If neither is checked we either need something to tell them they're required to check one or it needs to come back a blank or incomplete. Right now it defaults to no and we can't have that happen as 99% of the time they

[2018-11-16 16:54] #12 closed, assigned to amandagoyette, kbt1

[2018-11-16 16:54] #16 closed, assigned to amandagoyette, kbt1

[2018-11-16 16:56] amandagoyette commented on #32
@stellaballa that looks like it should work. Let us know when it's live in the staging site and we'll test it.

[2018-11-16 16:59] amandagoyette commented on #33
For the status I don't need to know if it's a renewal or new I can figure that out from the text above. It should reflect which box they check: Yes vs. No

[2018-11-16 17:02] amandagoyette commented on #33
The version for those who select "No" should read:
This email is to notify you that **Manda p** has cancelled their subscription to Engine Professional Magazine.
![image](https://user-images.githubusercontent.com/26386841/48635839-e2882080-e98e-11e8-84e6-7fc68c7cb07a.png)

[2018-11-16 17:56] kbt1 commented on #34
I would say have it default to Yes.

[2018-11-16 17:57] amandagoyette commented on #34
@kbt1 I can't do that as it could cause me problems with getting Periodical status

[2018-11-16 18:00] kbt1 commented on #34
so nothing should be default and the subscriber must check a box? makes sense.

[2018-11-16 18:01] amandagoyette commented on #34
correct

[2018-11-19 12:53] SagarPC commented on #31
@kbt1 : The email body should work now. Please check and confirm our update.

Also, let me know which email id we need to add as "From/Reply To".

[2018-11-19 13:04] SagarPC commented on #32
@aharmening: We have implemented this new search and order by function and uploaded on stage.

Please check and confirm our update.

[2018-11-19 13:19] SagarPC commented on #34
@aharmening: We did this change and uploaded on stage.

http://71.13.159.202/aerastage/EngineProfessional.aspx

[2018-11-19 13:24] SagarPC commented on #23
We removed the full state name column and kept only state code with State as a column name.

[2018-11-19 13:26] SagarPC commented on #25
We removed the full state name column and kept only state code with State as a column name.

[2018-11-19 15:50] amandagoyette commented on #31
Body of the email is working.  I am going to leave this open so Karen can get back to you on the reply to. She is out this week.  If it helps, I believe, the prospect tab is tied to whoever is logged in. So, for me it shows amanda@aera.org, Karen it shows karen@aera.org, Steve it shows steve@aera.org, etc.

[2018-11-19 22:40] stellaballa commented on #33
@SagarPC can you confirm you have updated this?

[2018-11-19 22:43] stellaballa commented on #24
@SagarPC please confirm this has been updated

[2018-11-20 00:53] amandagoyette opened #35 "Typo in Reports"
Please fix the word contact in the reports
![image](https://user-images.githubusercontent.com/26386841/48744269-36fbfc00-ec2c-11e8-9145-4b854a892221.png)

[2018-11-20 01:00] amandagoyette opened #36 "Subscriber Reports"
We need to add the Alt Address field to these reports.

Also, is it possible to have the fields in the following order:
Contact Name, Company, Title, Alt Address, Delivery Address, City, State, Zip, Country, Phone, Fax, Email, Start Date, Expiration Date

[2018-11-20 01:01] amandagoyette commented on #23
Good to go

[2018-11-20 01:01] #23 closed, assigned to amandagoyette

[2018-11-20 01:06] amandagoyette commented on #25
State column looks good. This report needs the Alt address too.

[2018-11-20 01:47] amandagoyette commented on #32
Can we add a filter for those with a fax number?
We don't need the filter for those without a phone number.

I'll Karen's input on this when she's back too.

[2018-11-20 02:05] amandagoyette opened #37 "Update Decline Email"
Can we update the text to read:

![image](https://user-images.githubusercontent.com/26386841/48746486-3b78e280-ec35-11e8-8e01-bc2613d63b5e.png)

This email is to notify you that your subscription to Engine Professional Magazine has been cancelled. We are sorry to see you go. If you wish to resubscribe please visit www.engineprofessional.com/subscribe.

[2018-11-20 02:16] amandagoyette commented on #34
Looks good. Thanks!

[2018-11-20 02:16] #34 closed, assigned to amandagoyette, anthonypartsconnect

[2018-11-20 05:37] SagarPC commented on #33
@aharmening: We updated email content as suggested and uploaded on stage.

[2018-11-20 05:48] SagarPC commented on #24
@aharmening : We are done with the change and uploaded on stage.

[2018-11-20 05:50] SagarPC commented on #37
The given link www.engineprofessional.com/subscribe is not working.

[2018-11-20 06:54] stellaballa commented on #37
@sagarPC try this link http://www.engineprofessional.com/subscribe.html

[2018-11-20 12:39] SagarPC commented on #25
We added Alt address in the report Please see on stage (http://71.13.159.202/aeramms_stage/membership.aspx)

![image](https://user-images.githubusercontent.com/31076567/48773225-c49f2080-ecec-11e8-87e3-056f8a1503cf.png)

[2018-11-20 12:39] SagarPC commented on #32
We added "With Fax" in the sort by the filter. and We removed "No Phone" from the sort by the filter. Please see on stage (http://71.13.159.202/aeramms_stage/membership.aspx)

![image](https://user-images.githubusercontent.com/31076567/48773283-f0220b00-ecec-11e8-9fec-8a78983cfab7.png)

[2018-11-20 12:39] SagarPC commented on #35
We have corrected "Contact" Words in the reports. Please see on stage (http://71.13.159.202/aeramms_stage/membership.aspx)

**Quarterly Mailing Report**
![image](https://user-images.githubusercontent.com/31076567/48773467-74748e00-eced-11e8-810d-45630a710732.png)

**Subscriber Report**
![image](https://user-images.githubusercontent.com/31076567/48773473-7b030580-eced-11e8-87df-d1c247cc1c97.png)

*

[2018-11-20 12:40] SagarPC commented on #36
We added Alt Address field to these reports, also set fields order as per your request. Please see on stage (http://71.13.159.202/aeramms_stage/membership.aspx)

![image](https://user-images.githubusercontent.com/31076567/48773672-172d0c80-ecee-11e8-8545-3199c17dfca9.png)

[2018-11-20 12:40] SagarPC commented on #37
We have updated text as per request, and also updated Link subscribe link which was not working. Please see on stage (http://71.13.159.202/aeramms_stage/membership.aspx)

![image](https://user-images.githubusercontent.com/31076567/48773776-65daa680-ecee-11e8-85e8-d9de610e3f3d.png)

[2018-11-20 13:58] amandagoyette commented on #37
http://www.engineprofessional.com/subscribe.html try this

Amanda Harmening
AERA Engine Builders Association

________________________________
From: SagarPC <notifications@github.com>
Sent: Monday, November 19, 2018 11:50:26 PM
To: stellaballa/EP
Cc: Amanda Harmening; Author
Subject: Re: [stellaballa/EP] Update Decline Email (#37)

The given link www.engineprofessional.com/subscribe<http://www.eng

[2018-11-20 14:02] SagarPC commented on #37
@aharmening: We already used that and uploaded on stage. Please check and confirmed.

[2018-11-20 14:44] amandagoyette commented on #37
@SagarPC I saw that after I sent it. I will test everything today. Thanks!

[2018-11-20 19:03] amandagoyette commented on #37
Looks good thanks!

[2018-11-20 19:03] #37 closed, assigned to amandagoyette

[2018-11-20 19:11] amandagoyette commented on #25
@SagarPC can we put the Alt Address field before the delivery address on this report please. So it should go from Title to Alt Address then Delivery Address. Other than that it looks good!

[2018-11-20 19:17] amandagoyette commented on #32
Fax option looks good. I'm leaving this open til Karen and I have a chance to talk about it.

[2018-11-20 19:17] amandagoyette commented on #33
Looks good thanks!

[2018-11-20 19:17] #33 closed, assigned to amandagoyette

[2018-11-20 19:18] amandagoyette commented on #35
Looks good thanks!

[2018-11-20 19:18] #35 closed, assigned to amandagoyette

[2018-11-20 19:18] amandagoyette commented on #36
I've tested and it all looks good. Thanks!

[2018-11-20 19:18] #36 closed, assigned to amandagoyette

[2018-11-20 19:48] amandagoyette opened #38 "Phone Number"
I noticed on the phone column is really wide. I think we can make it smaller without losing anything I can update my records to lose the extra characters. My longest phone number without an extension is 114971162769838 and my longest with an extension is 4192248000X22327

Also, I noticed there's no standard format to the phone number field. Some seem to be with the - others have ( ) and some of th

[2018-11-20 21:55] stellaballa commented on #38
@aharmening & @SagarPC
1) We should standardize all phone number formatting to "-" XXX-XXX-XXXX for international number we can do +XX-XXX-XXXXXX
2) Extension, I think we should have a separate field for extension.
![screen shot 2018-11-20 at 1 49 35 pm](https://user-images.githubusercontent.com/30122790/48805212-a117ae00-eccb-11e8-8a68-74dec19a332f.png)
3) The preview of the # with extension shou

[2018-11-20 22:18] amandagoyette commented on #38
I will make sure everything is set up with that format on my end for international vs. foreign so we have an easy import when the time comes.

As far as the fax, yes, it would be helpful to have that on there if there is room.

[2018-11-20 22:19] stellaballa commented on #38
@aharmening I think @SagarPC can update the formatting on his end, let's wait for his respond.

[2018-11-21 17:19] SagarPC commented on #38
@stellaballa ,

We worked on this task, I do have some questions.
1) what is the max length for the extension?
2) need to add the extension in the signup form.
 http://71.13.159.202/aeramms_stage/membership.aspx
3) Inside requirement, you said, "international number we can do +XX-XXX-XXXXXX"
=> We have only one textbox, Inside one textbox we can't use multiple placeholders. We can decide based on

[2018-11-21 20:23] amandagoyette commented on #38
I'd say 5 characters will be sufficient. That's the longest I have currently
 No extension needed on fax.

[2018-11-21 20:26] stellaballa opened #39 "Latest Database"
@aharmening  can you post latest Excel with all account for EP on basecamp?
https://basecamp.com/2423539/projects/15213494/messages/81989982

[2018-11-21 20:35] amandagoyette commented on #39
@stellaballa do you need me to split out current vs. valid vs. expired or just send it as is?

[2018-11-21 21:03] stellaballa commented on #39
As long as there's column identifying they are current and valid and expired, sagar can import that data.

[2018-11-21 21:28] amandagoyette commented on #39
@stellaballa it's uploaded. If there are questions let me know. I will be checking my email the next couple days.

[2018-11-21 21:51] stellaballa commented on #39
Thanks! @SagarPC please import the latest data into EP.

[2018-11-26 14:25] SagarPC commented on #38
1.	Should I add the extension inside the signup form? 
                 http://71.13.159.202/aerastage/engineProfessional.aspx
	2.	Inside requirement, you said, "international number we can do +XX-XXX-XXXXXX" => Please review my attached document
	3.	We have phone numbers with greater than 11 digits, How we have to display those numbers inside the system, Please refer attached document suggestion_

[2018-11-26 15:33] amandagoyette commented on #38
1. Offering the extension in the signup form is a good idea, yes.
2. Your document makes sense to me. I think that is good logic.
3. I think the longest number is 15 digits, so as long as there is the extension field as shown in your document we will have 2 options on our end, we can either put the extra digits there or we can list the phone number in the comments (or we can do both).

[2018-11-27 14:49] SagarPC commented on #38
We had completed most of the changes inside our local. We are ready to move our changes on stage. We will do once we have a normal stage server.

=> We will add all invalid phone numbers into the comment (Note). We will consider below scenarios for invalid phone number
1) Phone number format doesn't match with the country
2) Don't have the country
=> If the phone number format is as per country's

[2018-11-27 15:08] amandagoyette opened #40 "Move EP Tab"
Can we move the EP tab so it is right before the EP Reports? Steve, Karen, and I all feel this will make navigating easier.  Thanks!
![image](https://user-images.githubusercontent.com/26386841/49090773-0582c200-f224-11e8-9377-9739ec508c7b.png)

[2018-12-04 17:22] stellaballa commented on #40
@aharmening  please take a look

[2018-12-04 17:26] stellaballa commented on #32
@kbt1  can you please check this and close the ticket if it looks good?

[2018-12-04 17:27] stellaballa commented on #31
@kbt1 please check and confirm.

[2018-12-04 17:28] stellaballa commented on #30
@aharmening please take a look and let us know if it has any issue.

[2018-12-04 17:28] stellaballa commented on #24
@aharmening please let us know if this looks good

[2018-12-05 05:28] SagarPC commented on #38
@stellaballa: We are done with all the above changes on stage. You can refer my last comment and attached document for that.

[2018-12-05 05:31] SagarPC commented on #25
@aharmening : It's uploaded on stage. Please confirm our update.

[2018-12-05 05:33] SagarPC commented on #39
@stellaballa:

We imported the latest data on stage. We considered "Current & Valid" and "Current, Not Valid" sheets from the given excel file. We not considered "Expired" sheet from that excel, please confirm.

[2018-12-05 18:35] amandagoyette commented on #40
Good to go

[2018-12-05 18:35] #40 closed, assigned to amandagoyette

[2018-12-05 18:39] amandagoyette commented on #39
@stellaballa The current and valid both appear correct.  In regard to Sagar's question the Expired sheet will need to be imported in before we go live.  Those are the "subscription lapsed" people.

[2018-12-05 18:41] stellaballa commented on #39
Thanks @aharmening Do we have the latest Expired data? Or you will have to provide.

[2018-12-05 18:51] amandagoyette commented on #38
looks good!

[2018-12-05 18:51] #38 closed, assigned to amandagoyette, SagarPC

[2018-12-05 18:53] amandagoyette commented on #39
@stellaballa I will have to get you updated info for a 3 parts (Curent & Valid, Curent, Not Valid, and Lapsed/Expired) as it gets updated at least weekly if not more often.

[2018-12-05 19:27] amandagoyette commented on #25
Looks good

[2018-12-05 19:27] #25 closed, assigned to amandagoyette

[2018-12-05 19:30] stellaballa commented on #39
@aharmening in that case, we should schedule the time to launch this with the latest data, and once launch you can use the system to do update.

[2018-12-05 19:30] amandagoyette commented on #24
Please swap the alt address and delivery address.
![image](https://user-images.githubusercontent.com/26386841/49538840-ecb48500-f891-11e8-9011-5a31d8e75759.png)

[2018-12-05 19:32] amandagoyette commented on #24
The report itself is still not right though.  It should include everything: Current, Valid & Lapsed.

I see an option to pull the expired/lapsed was added but that only pull those in that category.  This report needs to pull everyone regardless of their "status"

[2018-12-05 19:34] amandagoyette commented on #30
good to go.

[2018-12-05 19:34] #30 closed, assigned to amandagoyette, kbt1

[2018-12-05 19:35] amandagoyette commented on #31
@kbt1 please test this one.  I know one function you wanted was that the reply to defaults to user.  I cannot test this as it was defaulting to me regardless.  Thanks!

[2018-12-05 19:37] stellaballa commented on #24
@aharmening  What if we add additional check box on top with ALL, Current, Valid & Lapsed, and have ALL Checked?

![screen shot 2018-12-05 at 11 35 28 am](https://user-images.githubusercontent.com/30122790/49539241-0ea60b80-f882-11e8-9261-448c9ce41b6b.png)

[2018-12-05 19:38] amandagoyette commented on #32
@kbt1 this looks good to me.  I'm going to close it.

[2018-12-05 19:38] #32 closed, assigned to amandagoyette, kbt1

[2018-12-05 19:42] amandagoyette commented on #39
@stellaballa I agree.  If we get all the testing/updates wrapped up this week maybe we can aim for Monday or Tuesday? That gives me the rest of the week to clean up everything and then once I send them I will not edit until we are live.

[2018-12-05 19:43] amandagoyette commented on #24
@stellaballa that should work!

[2018-12-05 19:44] stellaballa commented on #24
@SagarPC  please add the check box and make sure the Excel are export with the correct data.

[2018-12-05 19:46] stellaballa commented on #39
@SagarPC  Let's do a final round of QA on the staging server this week and plan to go live next Monday evening. And have the team stand by on Tuesday morning to make sure everything is working correctly.

@aharmening please send us the final data end of Monday.

[2018-12-05 20:00] amandagoyette commented on #39
@stellaballa will do!

[2018-12-05 21:21] kbt1 commented on #31
Works perfect!

[2018-12-05 21:21] #31 closed, assigned to amandagoyette, kbt1

[2018-12-06 12:56] SagarPC commented on #24
@aharmening: We added  "All, Current, Expiring, Subscription Lapsed" 4 checkboxes for the selection. Please check our update and let us know if any change.

[2018-12-06 13:02] SagarPC commented on #39
@stellaballa: We just looked into the Expired sheet to load data but notice there is a blank expiration date and also there is no date of request.

https://basecamp.com/2423539/projects/15213494/messages/81989982

If the user having blank expiration date then we are considering that user is the current user as per current logic. Please let us know how can we move forward with this sheet.

If we se

[2018-12-06 16:15] stellaballa commented on #39
@aharmening is it possible to add a expiration date to the expired account? Right now the system will confused with expired account as current if they don't have an expiration date.

[2018-12-06 16:25] stellaballa commented on #24
@aharmening I checked and looks like ALL and Current export the same data, I think this has to do with the database without expiring account or there's no expiration date on expired accounts.

[2018-12-06 21:53] amandagoyette commented on #24
@stellaballa you're correct since the expired people haven't been imported they are close.  Current has 10918 records and All has 10923 records.  Thankfully a few people have expired that we imported so we can see the difference!

Only change I have is it should be Current, Valid, and subscription lapsed.  Right now it's current, Expiring and Subscription Lapsed.  We have another report for expiri

[2018-12-06 22:05] amandagoyette opened #41 "Expiring"
Is it possible to only have the selection change quarterly if they don't renew?  As I'm looking I see that these are "Subscription Lapsed" instead of "Expiring" because the date has passed.
![image](https://user-images.githubusercontent.com/26386841/49614548-468b7c80-f970-11e8-8233-e93d1893d970.png)

Vs. these are still "Expiring" because the date is yet to come:
![image](https://user-images.githu

[2018-12-06 22:09] amandagoyette commented on #39
@stellaballa I've thought it through and I think that will work.  I will make sure all those in the expired tab have an expiration date before I send it Monday.

[2018-12-07 00:01] stellaballa commented on #39
Great! @aharmening

[2018-12-07 00:04] stellaballa commented on #24
@aharmening ok so we should update the check box to 1)ALL 2)Current 3)Valid 4)Subscription Lapsed

[2018-12-07 05:11] stellaballa commented on #41
@aharmening would you like to count the expiration date as 3 month after the actual expiration date? And during the 3 month that acc would consider lapses?

[2018-12-07 16:27] amandagoyette commented on #41
@stellaballa I think maybe you and I should talk this one out and decide if it's best to leave it alone or if there is a better way.  Do you have time for a quick call today?

[2018-12-07 16:28] amandagoyette commented on #24
@stellaballa yes, thanks!

[2018-12-07 16:34] amandagoyette commented on #41
@stellaballa This is the section of reports I'm talking about:
![image](https://user-images.githubusercontent.com/26386841/49660189-9cf9c900-fa0b-11e8-93dd-8eb90f32c131.png)
If it's possible to select a date range for the expiring report I think that would solve our issue.

[2018-12-07 21:20] amandagoyette opened #42 "List"
Please add Big River to the list section:
![image](https://user-images.githubusercontent.com/26386841/49673303-9e3eec00-fa33-11e8-819a-958fe60c9daf.png)

[2018-12-07 21:30] stellaballa commented on #41
@SagarPC Can we move Expiring as the last option, and add a From: DD/MM/YY  To: DD/MM/YY  option so Amanda can select accounts that are expiring between a period (example, between 03/15/2019 - 06/30/2019)

[2018-12-07 21:30] amandagoyette opened #43 "Type"
Add Mail to Type
![image](https://user-images.githubusercontent.com/26386841/49673698-f6c2b900-fa34-11e8-94f4-3efbc5fc246a.png)

[2018-12-07 21:31] stellaballa commented on #39
@SagarPC  we will add expiration date, and @aharmening will provide the date in the latest data file she will be sending over on Monday before launch.

[2018-12-07 21:32] stellaballa commented on #24
@SagarPC  please update the check box

[2018-12-08 02:39] amandagoyette commented on #39
@stellaballa should the extension have its own column on my spreadsheet? I'm working on finishing up the Subscription Lapsed tab for you guys before moving on to the other two, and right now it is in with the phone number like this:
![image](https://user-images.githubusercontent.com/26386841/49680955-1a4f2900-fa60-11e8-8ee1-8a97be402353.png)

[2018-12-08 02:41] stellaballa commented on #39
@aharmening  I think it would be helpful to have it on a separate column. You can remove the X or any characters that's not the extension.

[2018-12-08 02:43] amandagoyette commented on #39
@stellaballa will do. It's an easy fix for me.  Thanks!

[2018-12-08 04:20] SagarPC commented on #24
@stellaballa It's already uploaded on stage by yesterday.

[2018-12-10 04:39] stellaballa commented on #43
@SagarPC  Please add.

[2018-12-10 04:41] SagarPC commented on #41
@stellaballa: We added exp. date on expiring selection. Please check and confirm it's working as expected.

![image](https://user-images.githubusercontent.com/31076567/49711160-d9bffd00-fc63-11e8-9802-2b05a0a30e25.png)

[2018-12-10 04:43] SagarPC commented on #42
added Big River to the list.

![image](https://user-images.githubusercontent.com/31076567/49711239-4804bf80-fc64-11e8-86f4-fef263f34e25.png)

[2018-12-10 04:46] SagarPC commented on #43
added Mail to Type dropdown option.

![image](https://user-images.githubusercontent.com/31076567/49711297-a92c9300-fc64-11e8-964a-72d48b1a3618.png)

[2018-12-10 16:19] amandagoyette commented on #43
Thanks!

[2018-12-10 16:19] #43 closed, assigned to amandagoyette

[2018-12-10 16:20] amandagoyette commented on #42
Thanks!

[2018-12-10 16:20] #42 closed, assigned to amandagoyette

[2018-12-10 16:27] amandagoyette commented on #41
Sagar when I put in this date range (4th quarter) it only gives me 12/11-12/31
![image](https://user-images.githubusercontent.com/26386841/49745886-98305180-fc65-11e8-8cb0-db638003f289.png)
I tried checking subscription lapsed in addition to expiring and then got all expired dating back to 2015.  I need some way I can pull all expiring subscribers for the current quarter (10/1-12/31)

[2018-12-10 16:30] amandagoyette commented on #24
Looks good

[2018-12-10 16:30] #24 closed, assigned to amandagoyette

[2018-12-11 01:06] amandagoyette commented on #39
@stellaballa @SagarPC the latest file has been loaded to Base Camp

[2018-12-11 11:16] SagarPC commented on #41
@aharmening: Now it's exporting data from 1st OCT 2018 to 31st DEC 2018. It's uploaded on stage and live both.

[2018-12-11 11:55] SagarPC commented on #39
uploaded the latest file to live site and posted my comment in basecamp about invalid record that we can't process.

[2018-12-11 15:20] amandagoyette commented on #39
Fixed invalid record and uploaded it to basecamp.  Sorry I missed that one somehow!

[2018-12-11 15:22] amandagoyette commented on #41
Tested and it is working.  Thanks Sagar

[2018-12-11 15:22] #41 closed, assigned to amandagoyette

[2018-12-11 16:01] amandagoyette opened #44 "Record will not update"
I'm entering some requests into the live site now that we're up and this one will not update:
![image](https://user-images.githubusercontent.com/26386841/49812657-874a1380-fd2b-11e8-919a-129b8896d0a3.png)

The other 3 I did worked perfectly, but this one I tried updating the start date to 12/7/18 and marking it as a valid request. When I click update it tells me it updated the information, but not

[2018-12-11 16:40] stellaballa commented on #44
@SagarPC  please look into this.

[2018-12-12 09:04] SagarPC commented on #44
There is an issue with **'s** character.  We resolved this issue on stage and live both.

[2018-12-12 10:46] SagarPC commented on #39
@aharmening : We updated that record to the live.

[2018-12-12 22:57] amandagoyette commented on #44
record updated, so I know we're set.  Thanks!

[2018-12-12 22:57] #44 closed, assigned to amandagoyette

[2018-12-12 22:58] amandagoyette commented on #39
@SagarPC thanks!
@stellaballa not sure if we still need this open or not. Can close as far as I'm concerned.

[2018-12-13 00:37] #39 closed, assigned to amandagoyette, SagarPC

[2018-12-13 20:18] amandagoyette opened #45 "Tweak wording on pop-up"
Can we change this to say Thank You instead of e-Thank You

![image](https://user-images.githubusercontent.com/26386841/49965135-f23d4b00-fee1-11e8-8641-e47d876f4aee.png)

[2018-12-13 21:08] stellaballa commented on #45
@SagarPC please update.

[2018-12-14 11:00] SagarPC commented on #45
We updated message on stage and live both.

[2018-12-14 16:49] stellaballa commented on #45
@aharmening  please check

[2018-12-14 21:12] amandagoyette commented on #45
good to go thanks!

[2018-12-14 21:12] #45 closed, assigned to amandagoyette

[2018-12-17 17:53] amandagoyette opened #46 "Notification email"
Maria has updated the request link to reflect the link you provided.  I tested it, and I am not receiving the confirmation email notifying me that someone subscribed.  Please advise.

[2018-12-17 17:58] amandagoyette commented on #46
It appears I'm not getting any of the notification emails if that helps.  I just tested a change info and didn't get it either.

[2018-12-17 18:59] stellaballa commented on #46
@aharmening  we will look into this.

[2018-12-17 19:21] amandagoyette commented on #46
Thanks Stella!

[2018-12-17 19:25] amandagoyette opened #47 "Request Date"
I sent Dave a renewal form since he's on my list and hadn't subscribed as I wanted to make sure that emails were going out okay.  I noticed when I checked later that it updated his expiration date, but didn't mark his request date:
![image](https://user-images.githubusercontent.com/26386841/50110047-e8c42380-01fe-11e9-92bd-f823adff8bdc.png)
The Requested Date should be 12/17/18

I asked Rob to tes

[2018-12-18 07:25] SagarPC commented on #47
@aharmening: Now, we updated requested on subscription with the update and accept subscription only. If user decline subscription we are not updating request date as of now. please let us know if we need to update request date on decline subscription as well.

[2018-12-18 07:26] SagarPC commented on #46
@aharmening: Please check now, I just restarted AERA MMS and Prosis Pro application.

[2018-12-18 17:38] amandagoyette commented on #47
@SagarPC no, the decline does not need to be updated.  Thanks.  I'm testing today and will close out the ticket once I've confirmed it is all working.

[2018-12-18 19:41] amandagoyette commented on #46
Good to go

[2018-12-18 19:41] #46 closed, assigned to amandagoyette

[2018-12-18 19:41] amandagoyette commented on #47
good to go

[2018-12-18 19:41] #47 closed, assigned to amandagoyette, SagarPC

[2018-12-18 19:45] amandagoyette opened #48 "Printing emails"
When I get the emails they look right:
![image](https://user-images.githubusercontent.com/26386841/50178636-b122ad80-02ca-11e9-891e-81a27e1b8aa5.png)
but when I go to print the logo prints funny like it has been enlarged.  It's just being used internally so it's not a huge deal, but I'm not sure why it is happening:
![image](https://user-images.githubusercontent.com/26386841/50178750-f810a300-02ca

[2018-12-18 22:05] stellaballa commented on #48
@SagarPC  please check

[2018-12-19 13:24] SagarPC commented on #48
We looked with the gmail and microsoft mail box and it's working fine with both. Please let me know which email box you are using to print email.

[2018-12-19 13:26] amandagoyette commented on #48
I am printing from outlook

Amanda Harmening
AERA Engine Builders Association

________________________________
From: SagarPC <notifications@github.com>
Sent: Wednesday, December 19, 2018 7:24:58 AM
To: stellaballa/EP
Cc: Amanda Harmening; Assign
Subject: Re: [stellaballa/EP] Printing emails (#48)

We looked with the gmail and microsoft mail box and it's working fine with both. Please let me know

[2018-12-20 15:20] amandagoyette opened #49 "screen view"
Is it possible to adjust this so I don't have to scroll to save every time I'm editing?  It's fine on my larger monitor, but when I'm working off my laptop I have to scroll.

![image](https://user-images.githubusercontent.com/26386841/50292931-08925c00-0438-11e9-8fb5-c0e155215e41.png)

[2018-12-20 15:33] amandagoyette opened #50 "Start date"
Can we set the start date to default to the current date when we click on it:
![image](https://user-images.githubusercontent.com/26386841/50293590-9458b800-0439-11e9-8cb7-863489545ad5.png)

Or

Set it up so that if we manually type the date it updates the Expiration date too:
![image](https://user-images.githubusercontent.com/26386841/50293892-442e2580-043a-11e9-9659-8e6326f6f596.png)

[2018-12-20 18:28] stellaballa commented on #50
@SagarPC  please update

[2018-12-20 18:29] stellaballa commented on #49
@SagarPC please fix

[2018-12-20 18:29] stellaballa commented on #48
@SagarPC  can you try it with outlook and see if you can produce the same bug?

[2018-12-21 18:08] SagarPC commented on #50
@aharmening:

We taken action on below point and now it will update expiration date. Please check and confirm our update.
+++++++++++++++++++++
Set it up so that if we manually type the date it updates the Expiration date too:
+++++++++++++++++++++

[2018-12-21 18:10] SagarPC commented on #49
We set hight of the view window as much as we can. Please check and let me know if this will work or not.

[2018-12-21 18:13] SagarPC commented on #48
@aharmening : We checked with the outlook as well and it's working fine for us. I think you are using old version of outlook.

However we did changes in email header logo format, so please check newly received email after this date and provide your feedback on this.

[2018-12-21 19:02] amandagoyette commented on #50
It's working thanks!

[2018-12-21 19:02] #50 closed, assigned to amandagoyette

[2018-12-21 19:03] amandagoyette commented on #49
that works thanks!

[2018-12-21 19:03] #49 closed, assigned to amandagoyette

[2018-12-21 19:24] amandagoyette opened #51 "List/Type"
On the Preview Screen these appear to be completed:
![image](https://user-images.githubusercontent.com/26386841/50359748-68b1fc80-0523-11e9-89d9-acdcdc4573f1.png)

When I open to edit they are gone:
![image](https://user-images.githubusercontent.com/26386841/50359778-7f585380-0523-11e9-94d7-0bef23209c68.png)

Then if I make changes and save it loses them completely:
![image](https://user-images.gi

[2018-12-21 19:28] amandagoyette commented on #51
Note: Some it keeps.  So far I've noticed MASTER and BIG RIVER for sure getting removed under "List"
![image](https://user-images.githubusercontent.com/26386841/50360036-54223400-0524-11e9-92e4-ea638c56aed5.png)

[2018-12-24 10:50] SagarPC commented on #51
@aharmening : We fixed this issue and not all the option available in drop down will keep selected in edit case not get blank.

However, I want to inform you like an option which not available in the dropdown that comes as List then it will not be selected.

Example: "PERA" as list option is not a valid case, see below it's showing text in view case but when you click on Edit it will be gone.

![i

[2018-12-26 15:55] amandagoyette commented on #51
Thanks Sagar.  Yes, I tried to clean up the codes I was getting rid of, but know I missed some.  I'll pull your lists so I can get those cleaned up.

[2018-12-26 15:56] amandagoyette commented on #48
I'm closing this as it's an issue on my end

[2018-12-26 15:56] #48 closed, assigned to amandagoyette, SagarPC

[2018-12-26 15:58] amandagoyette opened #52 "Valid Requests"
I filtered the valid requests and noticed the numbers were much larger than my excel file.  It appears the valid filter includes expired requests, but it shouldn't.  A request is no longer valid if it's expired.  Please let me know if you need more of an explanation.
![image](https://user-images.githubusercontent.com/26386841/50450616-a84a6100-08f4-11e9-96bf-3c835c94c7f3.png)

[2018-12-26 16:52] amandagoyette opened #53 "Phone Number"
Is there a way to set Canada up as the same format as the US?  We get Canada numbers in the same format (xxx-xxx-xxxx), so I'm unable to enter any of them.

[2018-12-27 06:25] stellaballa commented on #53
@SagarPC  please look into this.

[2018-12-27 06:26] stellaballa commented on #52
@SagarPC  please take a look

[2018-12-27 12:55] SagarPC commented on #53
@aharmening  We did this change and now you can add Canada number to the same format as the USA.

[2018-12-27 13:24] SagarPC commented on #52
We did change and now valid with no longer considering expired user. We did this change in report export and EP listing both. Please verify our update on live.

[2018-12-27 19:31] amandagoyette commented on #53
Confirmed it works.  Thanks!

[2018-12-27 19:31] #53 closed, assigned to amandagoyette

[2018-12-27 19:48] amandagoyette commented on #52
looks good

[2018-12-27 19:48] #52 closed, assigned to amandagoyette

[2018-12-27 22:11] #51 closed, assigned to amandagoyette

[2019-05-03 19:44] amandagoyette opened #54 "Issue Editing Specific Record in EP Tab of MMS"
![Fuad](https://user-images.githubusercontent.com/26386841/57161710-d7487600-6db1-11e9-83a7-109048c51e03.jpg)
Can you have your team look into this record for me.  He’s on my EP list and I can get this far, but when I click edit nothing happens.  I had Karen try searching him from her machine and she gets stuck in the same place.  I can open others just fine, so I think it’s something specifically

[2019-05-03 20:55] SagarPC commented on #54
I looked into this issue and found an issue with the invalid State information for that member. I just removed invalid information and now it's working. That invalid information added during the initial setup of the EP tab, we loaded data from the EXCEL to AERA MMS system.
Now, it's working.

[2019-05-03 22:10] amandagoyette commented on #54
Thank you!

Amanda Harmening
AERA Engine Builders Association

________________________________
From: SagarPC <notifications@github.com>
Sent: Friday, May 3, 2019 3:55:20 PM
To: stellaballa/EP
Cc: Amanda Harmening; Author
Subject: Re: [stellaballa/EP] Issue Editing Specific Record in EP Tab of MMS (#54)

I looked into this issue and found an issue with the invalid State information for that member

[2019-05-07 15:31] #54 closed, assigned to SagarPC

[2019-05-22 15:44] amandagoyette opened #55 "Required fields on Subscription form"
Can we update the subscription form so the State & Zipcode are not required?  Some countries don't have this information.  Thanks!
![image](https://user-images.githubusercontent.com/26386841/58188533-62fd4600-7c7e-11e9-84eb-4e3b77494f59.png)

[2019-05-22 16:11] stellaballa commented on #55
@aharmening  will do!

[2019-05-23 11:45] SagarPC commented on #55
@aharmening   We updated code and set State & Zipcode as optional.

https://www.prosispro.com/engineprofessional.aspx

[2019-05-28 21:30] #55 closed, assigned to amandagoyette

[2019-07-24 20:06] amandagoyette opened #56 "Valid Request"
When you update an expired request the "Valid Request" option isn't updated.  the below example was expired, and when I updated the start date to reflect 7/19/19 the "no" option remained selected when it should have switched to "yes".  I tried to save the updates and it still remained at "no".  Please fix so that anything with a start date in the 3 year window defaults to "yes"
![image](https://us

[2019-07-24 20:29] stellaballa commented on #56
Thanks @aharmening  we will look into this.

[2019-07-25 09:57] SagarPC commented on #56
@aharmening We addressed this issue and not Valid/Invalid default selection will be changed based on exp. date update. If exp. the date is the future date then it will show as Valid and if exp. the date is the past date then it will show invalid.

[2019-07-25 17:19] amandagoyette commented on #56
thanks @SagarPC is there anyway to automatically update everything in the system?  There are expired contacts right now that still say yes such as this one:
![image](https://user-images.githubusercontent.com/26386841/61894619-76bf6580-aed6-11e9-93c1-eaf8dc0d769d.png)

[2019-07-26 09:55] SagarPC commented on #56
@aharmening  We can do this automated, for this, we need to create on daemon application which executes daily at your night time. That application will check and update status for the expired EP members.

Please let me know if it's work.

[2019-07-26 15:19] stellaballa commented on #56
@aharmening  please let us know if this would work. @SagarPC  people go ahead and work on it once Amada confirms.

[2019-07-31 11:52] SagarPC commented on #56
@aharmening can you please look into the solution which I provided? Also, give us confirmation so we can start work on this.

Regards,

[2019-07-31 20:05] amandagoyette commented on #56
@SagarPC sorry for the delay I was out last week and have been playing catch up.  We really don't need it updated daily.  As long as it's done weekly we'll be good not sure if it makes a difference on your end.  @stellaballa mentioned the system may run a little slower while this process is going, so I was thinking maybe we could do it Saturday nights to minimize interruptions? Let me know.

Thank

[2019-08-01 12:48] SagarPC commented on #56
We can set up this process weekly at the suggested time.

[2019-08-01 16:15] stellaballa commented on #56
@SagarPC  please go ahead with this.

[2019-08-05 07:13] SagarPC commented on #56
@aharmening I am working on the script and during this work, I notice below things where I need your feedback.

1) There are many numbers of active (_future expiration date_) EP member with **Invalid** Status.
=> When we execute script all those members become **Valid**, is that correct behavior. Please see attached file for the list of those members.
[ep-active-invalid-member-list.xlsx](https://g

[2019-08-05 16:42] amandagoyette commented on #56
@SagarPC Not sure where column A is coming from as the EP list doesn't have ID Numbers.

1. Only those with a start date should be active and I've highlighted those in the attached list.  The others are not Valid as they do not have a start date. I have to add an end date in order to get them into the rotation for 1 issue left and expired.
[ep-active-invalid-member-list.xlsx](https://github.com/st

[2019-08-06 14:35] SagarPC commented on #56
@aharmening  I setup script on the server to update valid/invalid for the EP member. I executed the script manually for now, but onward it will be executed automatically every Saturday at 8:00 PM CST.

1) All active user consider with less than 3-year past Start Date will be considered as valid.
2) All expired user with more than 3-year past or blank Start Date will be considered as invalid.

[2019-08-06 14:38] amandagoyette commented on #56
Thanks Sagar.  I’ll test this out and so we can get it wrapped up.

Amanda Harmening
Administrative Assistant/Circulation Specialist
AERA Engine Builders Association
[aera-lr] [EP_2C_186]

From: SagarPC <notifications@github.com>
Sent: Tuesday, August 6, 2019 9:35 AM
To: stellaballa/EP <EP@noreply.github.com>
Cc: Amanda Harmening <amanda@aera.org>; Mention <mention@noreply.github.com>
Subject: Re:

[2019-09-17 20:32] #56 closed, assigned to amandagoyette

[2020-02-24 16:52] amandagoyette opened #57 "Cannot open record"
When I try to click edit on this record nothing happens.  Please advise:
![image](https://user-images.githubusercontent.com/26386841/75172931-aeec8800-56f3-11ea-9829-0c6d0ec5fbce.png)

[2020-02-24 16:53] stellaballa commented on #57
@aharmening  is this the only one account that you can't update?
@SagarPC  please take a look.

[2020-02-24 16:57] amandagoyette commented on #57
@stellaballa  yes it seems to just be that one

[2020-02-25 09:52] SagarPC commented on #57
@aharmening  We fixed this issue and now edit it working.

![image](https://user-images.githubusercontent.com/31076567/75235655-97d89380-57e2-11ea-8746-754140a1d492.png)

[2020-02-25 12:47] amandagoyette commented on #57
it works thanks!

[2020-02-25 12:47] #57 closed, assigned to amandagoyette

[2020-07-23 01:02] amandagoyette opened #58 "Renewal form"
Lately I've had folks emailing that they cannot renew as the form gives them an error when they click the link.  They've all told me that despite entering their phone number correctly with all 10 digits it tells them they need a 10 digit phone number to proceed.  It seems to be an issue specific to the Explorer/Edge browser.  Is this something we can look into?  I don't want to lose renewals becau

[2020-07-23 15:40] SagarPC commented on #58
@aharmening  I tried with edge and submit one form and it's working for me.

Can you please give me more information about one of the EP members who faced this issue and not able to subscribe? It will help me to trobuleshoot this issue.

[2020-07-23 15:43] amandagoyette commented on #58
Paul Van Der Linden was one and Ron Sledge was another.  I had no problem with either on Chrome, but they both got the same error.

[2020-07-24 06:07] SagarPC commented on #58
@aharmening Thanks for the information. I checked and notice this issue with the IE browser. We fixed and not it's working.

[2020-07-24 13:32] amandagoyette commented on #58
@SagarPC Thanks.  I'll close this out.

[2020-07-24 13:32] #58 closed, assigned to amandagoyette

[2021-04-06 17:27] amandagoyette opened #59 "Update List Drop Down"
Sagar,

Can you add Retired under the list column for contacts in the EP tab please?

![image](https://user-images.githubusercontent.com/26386841/113753059-48e27a80-96d3-11eb-9941-835df63465bf.png)

[2021-04-06 20:19] amandagoyette opened #60 "Expiring Contact"
Sagar,
how hard would it be to change those marked "Expiring" to receive the expired email instead of the 1 issue left email?  As you'll see below these currently default to 1 issue left until their expiration date.  It would be a lot easier for me to get ahead of renewals if I could send a batch of expired emails to them ahead of time.  Thanks!
![image](https://user-images.githubusercontent.com/2

[2021-04-07 07:03] SagarPC commented on #60
@aharmening  Please see my comment below.

1) As I understand, now onward we want the ability to send an expired email for a list of "Expiring" members, correct?
![image](https://user-images.githubusercontent.com/31076567/113823975-de960c80-979c-11eb-8511-56a3fbf0f789.png)

2) Currently we are sending a 1 Issue Left email for a  list of "Expiring" members. That function we need to remove completel

[2021-04-07 12:06] amandagoyette commented on #60
@Sagar ***@***.***> you are correct on which email I want to send.

Yes, remove 1 issue left completely. There is never an instance where I will send it to this group.

Amanda Harmening
Administrative Assistant
AERA Engine Builders Association

________________________________
From: SagarPC ***@***.***>
Sent: Wednesday, April 7, 2021 2:03:28 AM
To: stellaballa/EP ***@***.***>
Cc: Amanda Harmening

[2021-04-08 09:42] SagarPC commented on #60
@aharmening We made this change and uploaded it on live. Please check and confirm our update.

![image](https://user-images.githubusercontent.com/31076567/114004975-c3023300-987c-11eb-9d59-99d3ea74affb.png)

![image](https://user-images.githubusercontent.com/31076567/114004997-c72e5080-987c-11eb-964e-825fc55135b9.png)

[2021-04-08 09:43] SagarPC commented on #59
@aharmening We added "Retired" under List Dropdown. Please see the below image for reference.

![image](https://user-images.githubusercontent.com/31076567/114005093-dca37a80-987c-11eb-8f6b-024d449f594f.png)

[2021-04-08 14:35] amandagoyette commented on #59
@SagarPC can you move it up above Rock Products so they're still in alphabetical order?  Thanks!

[2021-04-08 14:39] amandagoyette commented on #60
Looks good and works perfect. Thanks!

[2021-04-08 14:39] #60 closed, assigned to amandagoyette

[2021-04-09 07:28] SagarPC commented on #59
@aharmening Thanks for the feedback. We updated the order. Please see the below image for reference.

![image (4)](https://user-images.githubusercontent.com/31076567/114144771-4d0cd300-9933-11eb-83f3-5b2e6f6f5c28.png)

[2021-04-09 14:14] amandagoyette commented on #59
perfect thanks!

[2021-04-09 14:14] #59 closed, assigned to amandagoyette

[2022-07-07 20:27] amandagoyette opened #61 "Update name"
Hey Sagar.

I got married in June and am working on getting things updated to my new name. Can you change this over to Amanda Goyette instead of Amanda Harmening.  Thanks!

<img width="341" alt="image" src="https://user-images.githubusercontent.com/26386841/177865355-3690bee9-a87a-4037-83b0-daa0331f25d0.png">

[2022-07-08 07:04] SagarPC commented on #61
Hi Amanda,

Congratulation..!

I checked and almost your name is updated on all the places except GitHib. You have to change GitHub name from your end. Please see attached document for the step. It will help you to update name in GitHub.

[update-github-profile.docx](https://github.com/stellaballa/EP/files/9069635/update-github-profile.docx)

Please let me know if any more information required.

R

[2022-07-08 13:47] amandagoyette commented on #61
Thank you. I have downloaded the file and will follow it to update accordingly.

[2022-07-08 13:47] #61 closed, assigned to amandagoyette